@import "tailwindcss";

@theme inline {
  --color-olive-leaf: #606c38;
  --color-black-forest: #283618;
  --color-cornsilk: #fefae0;
  --color-sunlit-clay: #dda15e;
  --color-copperwood: #bc6c25;

  --font-sans: var(--font-satoshi);
  --font-display: var(--font-cabinet-grotesk);
}

body {
  background: var(--cornsilk);
  color: var(--black-forest);
  margin: 0;
  padding: 0;
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}
