@import "tailwindcss";

@theme inline {
  --color-porcelain: #fafbf9;
  --color-platinum: #f0f2f5;
  --color-ink-black: #101418;
  --color-ash-grey: #bec5ad;
  --color-dry-sage: #a4b494;
  --color-sea-green: #519872;
  --color-deep-teal: #46755e;
  --color-granite: #3b5249;

  --font-sans: var(--font-satoshi);
  --font-display: var(--font-cabinet-grotesk);
}

body {
  background: var(--platinum);
  color: var(--ink-black);
  margin: 0;
  padding: 0;
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}
